*{
  margin: 0px;
  padding: 0px;  
}
/* valor padrão da div */
div{
    float: left;
    background-color: orange;
}
/* separando por div */
.div1{
  display:inline-block;
  width: 50px;
  height: 50px;
}
.div2{
  display:inline-block;
  width: 50px;
  height: 50px;
}
.div3{
  display:inline-block;
  width: 50px;
  height: 50px;
}
.div4{
  display:inline-block;
  width: 50px;
  height: 50px;
}
.div5{
  display:inline-block;
  width: 50px;
  height: 50px;
}
/*ou direto*/
.div1, .div2, .div3, .div4, .div5{
  display:inline-block;
  width: 50px;
  height: 50px;
}